.username-field {
    color: #ffffff;
}

.username-post {
    color: #000000;
}
.username-post:hover {
    font-weight: 300;
}

.mdl-textfield {
    width: 100%;
}

#new-entry{
    margin-top: 6px !important;
    color: #000;
}
.board-entry {
    color: #000 !important;
    margin-bottom: 6px !important;
}
.entry-author {
    font-weight: 300;
}